@(content: Html, sidebar: Html = Html(""), css: Html = Html(""), js: Html = Html(""))(simpleSearchForm: Form[SimpleSearch])(implicit message: RequestHeader)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="description" content="arillo is responsive html real estate theme">
    <meta name="author" content="afriq yasin ramadhan">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Arillo</title>


    @js

    @css
    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.versioned("orange/css/bootstrap.css")" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,800' rel='stylesheet' type='text/css'>
    <link href="@routes.Assets.versioned("orange/css/font-awesome.min.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("orange/css/responsive.css")" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="@routes.Assets.versioned("orange/js/html5shiv.js")"></script>
      <script src="@routes.Assets.versioned("orange/js/respond.min.js")"></script>
    <![endif]-->
  </head>

  <body id="top">
    <!-- begin:navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=""@routes.Application.index()">
            <img src="@routes.Assets.versioned("images/sweettableLogo.png")">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-top">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="@routes.Application.index()">Home</a></li>
            <li><a href="@routes.Application.profile()">About me</a></li>
            <li><a href="@routes.Application.writeReview()">Write a review</a></li>
            <li><a href="#modal-signin" class="signin" data-toggle="modal" data-target="#modal-signin">Sign in</a></li>
            <li><a href="#" class="signup" data-toggle="modal" data-target="#modal-signup">Sign up</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    <!-- end:navbar -->

    @if(simpleSearchForm != null){
      @views.html.template.headerSearch(simpleSearchForm)(message)
    }




    <div id="content">
      <div class="container">
        <div class="row">
          @content
          @sidebar
        </div>
      </div>
    </div>






    <!-- begin:footer -->
    <div id="footer">
      <div class="container">

        <!-- begin:copyright -->
        <div class="row">
          <div class="col-md-12 copyright">
            <p>Copyright &copy; 2014 Company, Inc. All Right Reserved.</p>
            <p>Theme : Arillo 1.0 Designed by <strong>avriqqlabs.</strong></p>
            <a href="#top" class="btn btn-warning scroltop"><i class="fa fa-angle-up"></i></a>
            <ul class="list-inline social-links">
              <li><a href="#" class="icon-twitter" rel="tooltip" title="" data-placement="bottom" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="icon-facebook" rel="tooltip" title="" data-placement="bottom" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="icon-gplus" rel="tooltip" title="" data-placement="bottom" data-original-title="Gplus"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- end:copyright -->
      </div>
    </div>
    <!-- end:footer -->

    <!-- begin:modal-signin -->
    <div class="modal fade" id="modal-signin" tabindex="-1" role="dialog" aria-labelledby="modal-signin" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Sign in</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="emailAddress">Email address</label>
                <input type="email" class="form-control input-lg" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control input-lg" placeholder="Password">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="forget"> Keep me logged in
                </label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <p>Don't have account ? <a href="#modal-signup"  data-toggle="modal" data-target="#modal-signup">Sign up here.</a></p>
            <input type="submit" class="btn btn-warning btn-block btn-lg" value="Sign in">
          </div>
        </div>
      </div>
    </div>
    <!-- end:modal-signin -->

    <!-- begin:modal-signup -->
    <div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="modal-signup" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Sign up</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <input type="email" class="form-control input-lg" placeholder="Enter email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Confirm Password">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="agree"> Agree to our <a href="#">terms of use</a> and <a href="#">privacy policy</a>
                </label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <p>Already have account ? <a href="#modal-signin" data-toggle="modal" data-target="#modal-signin">Sign in here.</a></p>
            <input type="submit" class="btn btn-warning btn-block btn-lg" value="Sign up">
          </div>
        </div>
      </div>
    </div>
    <!-- end:modal-signup -->
   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@routes.Assets.versioned("orange/js/jquery.js")"></script>
    <script src="@routes.Assets.versioned("orange/js/bootstrap.js")"></script>
     <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="@routes.Assets.versioned("orange/js/gmap3.min.js")"></script>
    <script src="@routes.Assets.versioned("orange/js/jquery.easing.js")"></script>
    <script src="@routes.Assets.versioned("orange/js/jquery.jcarousel.min.js")"></script>
    <script src="@routes.Assets.versioned("orange/js/imagesloaded.pkgd.min.js")"></script>
    <script src="@routes.Assets.versioned("orange/js/masonry.pkgd.min.js")"></script>
    <script src="@routes.Assets.versioned("orange/js/jquery.backstretch.js")"></script>
    <!--<script src="@routes.Assets.versioned("orange/js/jquery.nicescroll.min.js")"></script>-->
    <script src="@routes.Assets.versioned("orange/js/script.js")"></script>




  </body>
</html>
