@(simpleExploreForm: Form[SimpleExplore])(implicit message: RequestHeader)

@content = {


<!-- begin:service -->
<div id="service">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h2>A revolutionary principe
          <small>To be personally advised</small>
        </h2>
      </div>
    </div>
    <div class="row">

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-container">
          <div class="service-icon">
            <a href="#"><i class="fa fa-lock"></i></a>
          </div>
          <div class="service-content">
            <h3>Register</h3>
            <p>
              If you want to have a personal advise, we have to know you a little bit.
              But don't be afraid, our policy service is made
              for the users.
            </p>
          </div>
        </div>
      </div>

      <!-- break -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-container">
          <div class="service-icon">
            <a href="#"><i class="fa fa-home"></i></a>
          </div>
          <div class="service-content">
            <h3>Say what you like</h3>
            <p>
              If you want to be personally advised, we need to know what do you like, and what do you dislike.
              It just take 2 min, and you will see the diference
            </p>
          </div>
        </div>
      </div>

      <!-- break -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-container">
          <div class="service-icon">
            <a href="#"><i class="fa fa-thumbs-up"></i></a>
          </div>
          <div class="service-content">
            <h3>Post some reviews</h3>
            <p>
              When you post some reviews, we can know if you have like this place or not.
              So for the next time, we will try to advise you even more better.
            </p>
          </div>
        </div>
      </div>

      <!-- break -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-container">
          <div class="service-icon">
            <a href="#"><i class="fa fa-umbrella"></i></a>
          </div>
          <div class="service-content">
            <h3>Just andjoy </h3>
            <p>
              It is our job to find the perfect place just for you.
              You won't we disappointed any more.
              The more reviews you write, the better we advise you.
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<!-- end:service -->



<!-- begin:content -->
<div id="content">
  <div class="container">
    <!-- begin:latest -->
    <div class="row">
      <div class="col-md-12">
        <div class="heading-title">
          <h2>The accuracy of your profile</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="row service-icon">
        <div class="col-md-6 col-md-offset-3">
          <div class="col-md-5">
            <a href="#"><i> 70%</i></a>
          </div>
          <div class="col-md-7">
            <p> The accuracy of your profile measure how much we are sur when we advise you a restaurant.
              If the percentage get 100%, that means that we are totally sur that this place will fits you.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="heading-title">
          <h2>Personal advise </h2>
        </div>
      </div>
    </div>

    <div>

    </div>

  </div>
</div>
<!-- end:content -->


}


@js = {
  <script src="@routes.Assets.versioned("javascripts/index/autoComplexionQuery.js")"> </script>
}

@template.template(content, Html(""), Html(""), js)(simpleExploreForm)(message)