@()(implicit message: RequestHeader)

@content = {

<div class="col-md-5">
    <div class="row">
        <h3>Lauriane Mollier</h3>
        <div class="col-md-5"></div>
    </div>

    <div class="row">
        <img src="@routes.Assets.versioned("images/team01.jpg")"/>
    </div>

    <div class="row">
        <h6>Your description</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
</div>

<div class="col-md-7">

</div>

}

@template.template(content)(null)(message)