@import models.Foursquare.CompactVenue
@import models.Foursquare.Category
@import models.Foursquare.Geocode
@import models.Foursquare.Photo
@(compactVenues: Seq[(CompactVenue, Photo)], geocode: Geocode, foodCategories: Seq[Category])(implicit message: RequestHeader)
<!--compactVenues: Seq[(CompactVenue, url photo miniature)]-->







@restaurants = {
  <div class="container-realestate">

    @for(i <- 0 until compactVenues.length){
    @if(i == 0 || i ==3 || i == 9){
    <div class="row">
      <div class="col-md-12">
        <div class="heading-title">
          <h2>
            @if(i == 0) {
            The best choice for you
            }
            @if(i == 3){
            It can be good
            }
            @if(i == 9){
            We think the it is not appropriate
            }
          </h2>
        </div>
      </div>
    </div>
    }

    @if(i % 3 == 0){
    <div class="row">
      }
      <div class="col-md-12
              @if(i < 3){perfectMatch}
              @if(i >=3 && i < 9){
                middleMatch
              }
              @if(i>=9){doNotMatch}
          ">
        @restaurantMini(compactVenues(i)._1, compactVenues(i)._2)
      </div>
      @if(i % 3 == 2){
    </div>
    }
    }

  </div>
}

@map = {
  <div id="map"></div>
}

@title = {
  <div class="heading-title heading-title-alt">
    <h3>Property meeting the search criteria</h3>
  </div>
}



@content = {
<!-- begin:article -->
<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12">
        @title
      </div>
      @map
    </div>
    <div class="col-md-6">
      @restaurants
    </div>

  </div>

  <!-- begin:product -->

  <!-- end:product -->
</div>
<!-- end:article -->
}


@contentWithSideBar = {
  <!-- begin:article -->
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        @title
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        @map
      </div>
    </div>

    <!-- begin:product -->
    @restaurants
    <!-- end:product -->
  </div>
  <!-- end:article -->
}



@displayCategories(foodCategories: Seq[Category]) = {
  @for(c <- foodCategories){
    <li>
      <input type="checkbox" name="@c.id" id="@c.id" /> &nbsp;
      <label for="@c.id">@c.shortName</label>
      @defining(c.categories.getOrElse(Seq[Category]())){ categories =>
        @if(!categories.isEmpty) {
          <span id="displayMoreCategories@c.id"> + more</span>
          <ul id="ulMoreCategories@c.id" style="display: none;">
            @displayCategories(categories)
          </ul>
          <script>
            displayCategory("@c.id");
          </script>
        }
      }
    </li>
  }
}

@* @sidebar = {

<!-- begin:sidebar -->
<div class="col-md-3 sidebar">
  <div class="widget widget-sidebar widget-white">


    <div class="widget-header">
      <h3>Distance</h3>
    </div>
    <ul>
      <li>
        <input type="radio" name="distance" value="500" id="500" /> &nbsp;
        <label for="500"> By foot </label>&nbsp; (~ 500m)
      </li>
      <li>
        <input type="radio" name="distance" value="2000" id="2000" /> &nbsp;
        <label for="2000"> By bike </label>&nbsp; (~ 2km)
      </li>
      <li>
        <input type="radio" name="distance" value="5000" id="5000" /> &nbsp;
        <label for="5000"> By car </label>&nbsp; (~ 5km)
      </li>
    </ul>
  </div>



  <!-- break -->
  <div class="widget widget-sidebar widget-white">
    <div class="widget-header">
      <h3>Categories</h3>
    </div>
    <ul class="list-check">
      <!--display more or less categories-->
      <script src="@routes.Assets.versioned("javascripts/search/displayCategories.js")">
      @displayCategories(foodCategories)
    </ul>
  </div>
</div>
<!-- end:sidebar -->

} *@

@css = {
  <link href="@routes.Assets.versioned("stylesheets/search/search.css")" rel="stylesheet">
}

@js = {
<!--Set google map-->
<script src="@routes.Assets.versioned("javascripts/map/addMarker.js")"></script>
<script>
function initMap() {
  var mapCenterLatLng = {lat: @geocode.center.lat, lng: @geocode.center.lng};

  // Create a map object and specify the DOM element for display.
  var map = new google.maps.Map(document.getElementById('map'), {
    center: mapCenterLatLng,
    scrollwheel: false,
    zoom: 14
  });

  @for(venue <- compactVenues){
    var venueLatLng = {lat: @venue._1.location.lat.get, lng: @venue._1.location.lng.get};
    addMarker(map, venueLatLng)
  }
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDszbsFk8vTYwLZ3vP68BdkGhmFx-CcNV4&callback=initMap" async defer></script>
}



@template.template(content, Html(""), css, js)(null)(message)